
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TravelLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Free Easy-Trip Website Template | Contact :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/web/css/slider.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
  
    
    <div class="contact">
        <div class="wrap">
            <div class="contact-top">
                <h3>İletişim Bilgileri</h3>
                <p> Lütfen bu formu doldurun, en kısa zamanda sizinle iletişime geçelim.</p>
            </div>
            <div class="form">
                
                <form class="cmxform" id="contactForm" method="post">
                    <div>
                        <input type="text" placeholder="İsim Soyisim" name="NameSurname" required />
                    </div>
                    <div>
                        <input type="text" placeholder="Email" name="Email" required />
                    </div>
                    <div>
                        <input type="text" placeholder="Konu" name="Subject" required />
                    </div>

            </div>
            <div class="form1">
                <div>
                    <textarea value="Mesajınız:" placeholder="Mesajınız" name="Message" ></textarea>
                </div>
                <div>
                    <p><button class="read">Gönder</button></p>
                </div>

            </div>
            </form>

            <div class="clear"></div>
            <div class="contact-bottom">
                <div class="contact-left">
                    <div class="contact-add">
                        <h3>Adres Bilgileri</h3>
                        <p> Üniversite İktisadi ve İdari Bilimler Fakültesi Karadeniz Teknik Üniversitesi, 61080 Ortahisar/Trabzon</p>
                        <p>Telephone:1-22-5555</p>
                        <p>Fax:1-22-5555</p>
                        <p>Email:<a href="mailto:signup@gmail.com">signup@mail.com</a></p>
                    </div>
                    <div class="contact-add">
                        <h3>İkinci Adres</h3>
                        <p>Telephone:1-22-5555</p>
                        <p>Fax:1-22-5555</p>
                        <p>Email:<a href="mailto:signup@gmail.com">signup@mail.com</a></p>
                    </div>
                </div>
                <div class="contact-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.525798429303!2d39.772494314782776!3d40.99186342838477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40643b8113fa1b8b%3A0xdeb3576ad09f1405!2sKaradeniz%20Teknik%20%C3%9Cniversitesi%20%C4%B0ktisadi%20ve%20%C4%B0dari%20Bilimler%20Fak%C3%BCltesi!5e0!3m2!1str!2str!4v1678104419811!5m2!1str!2str" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">KTÜ</iframe>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
  
</body>
</html>


