@using TravelTripProject.Models.Classes
@model List<AboutUs>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TravelLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>

            @foreach (var item in Model)
            {
                <img src="@item.PhotoUrl" alt="" />
                <p>@item.Explanation</p>
            }
        </div>
    </div>
</div>


